.hero {
  font-family: Muni;
}
.legend {
  font: italic 12px sans-serif;
}

.boxShadow {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
}
.boxShadowThin {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.bg-cathar_milieu {
  background-color: #8719e0 !important;
}

.bg-apostolic_milieu {
  background-color: #3ebd93 !important;
}

.bg-other_heterodoxy {
  background-color: #f0b429 !important;
}

.check-secondary:checked {
  background-color: #9fb3c8 !important;
  border-color: #9fb3c8 !important;
}

.check-cathar_milieu:checked {
  background-color: #8719e0 !important;
  border-color: #8719e0 !important;
}

.check-apostolic_milieu:checked {
  background-color: #3ebd93 !important;
  border-color: #3ebd93 !important;
}

.check-other_heterodoxy:checked {
  background-color: #f0b429 !important;
  border-color: #f0b429 gray !important;
}

.check-unknown:checked {
  background-color: #d3cec4 !important;
  border-color: #d3cec4 !important;
}
.check-undef_occ:checked {
  background-color: #d3cec4 !important;
  border-color: #d3cec4 !important;
}
.check-undef_heresy:checked {
  background-color: #d3cec4 !important;
  border-color: #d3cec4 !important;
}
.check-church:checked {
  background-color: #463ee2 !important;
  border-color: #463ee2 #1f78b4 !important;
}
.check-craft:checked {
  background-color: #38bec9 !important;
  border-color: #38bec9 !important;
}
.check-diss:checked {
  background-color: #fb9a99 !important;
  border-color: #fb9a99 !important;
}
.check-free:checked {
  background-color: #e31a1c !important;
  border-color: #e31a1c !important;
}
.check-man:checked {
  background-color: #fdbf6f !important;
  border-color: #fdbf6f !important;
}
.check-qual:checked {
  background-color: #ff7f00 !important;
  border-color: #ff7f00 !important;
}
.check-merch:checked {
  background-color: #33a02c !important;
  border-color: #33a02c !important;
}
.check-offi:checked {
  background-color: #6a3d9a !important;
  border-color: #6a3d9a !important;
}
.check-serv:checked {
  background-color: #bc80bd !important;
  border-color: #bc80bd !important;
}
.check-sp:checked {
  background-color: #b15928 !important;
  border-color: #b15928 !important;
}

.circle {
  background-color: #6a3d9a;
  border-radius: 50%;
  height: 0.6em;
  margin-top: 0.5em;
  width: 0.6em;
  float: left;
}
